/* styles.css */

.SignUp_Container {
  width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5fa;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8bbd8;
  padding: 20px;
  border-radius: 16px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;

}
.box {
  display: flex;
  align-items: center;
  flex: 1;
  border-color: #2d1b5f #2d1b5f #2d1b5f #2d1b5f;
}

.icon {
  font-size: 2em;
  margin-right: 10px;
}

.text h2 {
  font-size: 2.2em;
  color: #2d1b5f;
}

.text p {
  font-size: 1.4em;
  color: #4a3b75;
}

.divider {
  width: 2px;
  background: #7c6fa6;
  height: 100px;
}

.content {
  margin-top: 20px;
  color: #333;
}

.SignUp_Employee {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  color:  #c8bbd8;  /* Old text color */
}
.SignUp_Employer {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  color:  #c8bbd8;  /* Old text color */
}